setuptools~=57.5.0
# torch==1.8.1
protobuf==3.13.0
onnx==1.12.0
onnxsim==0.4.10
pyyaml==5.4
librosa==0.9.1
tqdm==4.64.1
einops==0.6.0
pycwt==0.3.0a22
praat-parselmouth==0.4.3
scikit-image==0.19.3
webrtcvad
pyloudnorm==0.1.0
g2pM==0.1.2.5